*{
    margin: 0;
    padding: 0;
}
body{
    background-color: black;
    color: white;
}

.logo img{
    width: 20px;
    margin-right: 10px;
}
.logo {
    
    color: white;
    font-size:20px;
}
.left{
    height: 95vh;
    padding: 10px;
    width: 30vw;
    background-color: rgb(31, 30, 30);
}
.scrollable{
    height: 60vh;
    overflow-y: auto;

}
.scrollable::-webkit-scrollbar{
    display: none;
}
.home ul li {
    width: 15px;
    display: flex;
    list-style: none;
    gap: 15px;
    padding-top: 15px;
    
}
.library{
    position: relative;
}
.library div img{
    position:absolute;
    right: 10px;
    width: 15px;
    
}
.about-sec{
    bottom:100px;
    padding: 25px;
    display: flex;
    font-size: 12px;
    flex-wrap: wrap;
    gap: 20px;
    background-color: rgb(31, 30, 30);
}
.right{
    width: 70vw;
    position: relative;
}
.header{
    display: flex;
    justify-content: space-between;
    background-color: rgb(31, 30, 30);
    height: 20px;
}

#btn1{
    width: 60px;
    height: 20px;
    background: none;
    border: none;
    color: white;
    margin-right: 10px;
}
#btn1:hover{
    background-color: rgb(88, 88, 88);
    border-radius: 15px;
}

#btn2{
    width: 60px;
    border-radius: 15px;
    padding: 5px;
    border: none;
}
#btn2:hover{
    background-color: rgb(88, 88, 88);
    /* border-radius: 15px; */
}

.main{
    height: 86vh;
    overflow-y: auto;

}
.main::-webkit-scrollbar{
    display: none;
}
.card-container{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}
.play-button{
    opacity: 0;
    position: absolute;
    right: 16px;
    top: 115px;
    width: 30px;
}
.play-button img{
    width: 30px;
    border-radius: 100px;
}
.card h4{
    margin-top: 12px;
}
.card p{
    font-size: small;
}